* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 200ms;
}

span {
    cursor: pointer;
    font-size: 12vw;
    line-height: 1.3;
    color: rgba(207, 207, 207, 0);

    user-select: none;
    background-color: rgba(255, 255, 255, 0.103);
    font-family: 'Courier New', Courier, monospace;
    padding: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    border: 3px solid rgba(255, 255, 255, 0.082);
    background-size: contain;
}

span:hover {
    background-color: rgba(255, 240, 207, 0.205);
    color: rgba(172, 172, 172, 0);
}

#board {
    margin-left: 27%;
    margin-top: 2vh;
}

body {
    background-image: url("img/plank.png");
    background-size: 25%;

}

#end {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
}

#smile {
    width: 100%;
    height: 130%;
    position: absolute;
    left: 0;

}


#winner {
    position: absolute;
    font-size: 7vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    right: 35%;
    top: 30%;
}


#playagain {
    font-size: 7vw;
    font-family: monospace;
    position: absolute;
    right: 28%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    color: rgb(161, 0, 0);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    top: 50%;
}
#playagain:hover{
    color: rgb(255, 153, 153);
    background-color: rgb(41, 34, 34);
}